{% load static %}
{% load Theatre_tags %}
{% get_actors as actors %}
{% get_plays as plays%}
{% get_roles as roles%}

<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'Theatre/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'Theatre/images/logo12.png' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>

{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for m in menu %}

			{% if m.title == "Добавить пьесу" or m.title == "Добавить актера" %}
				{% if request.user.is_superuser %}
				<li><a href="{% url m.url_name %}">{{m.title }}</a></li>
				{% endif %}

			{% else %}
			<li><a href="{% url m.url_name %}">{{m.title }}</a></li>
			{% endif %}


{% endfor %}
				{% if request.user.is_authenticated %}
				<li class="last"> {{user.username}} <a href="{% url 'logout' %}">|  Выйти </a> </li>
				{% else %}
				<li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
				{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

{% block content %}
{% endblock %}

</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; Практика 2021.   Контактный телефон: 8-912-559-46-57.   Адрес: Ул. 60 Лет Октября, Дом 20, кв. 64</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>
